body {
  margin-top: 1.0em;
  color: #000000;
  font: 1.1em/1.6em Georgia, "Times New Roman", Times, serif;
}
h1 { font-size: 2.3em; color: #000000;
margin-bottom: 2em;
}
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #000000; }
h3 { font-size: 1.4em; color: #000000; }
h4{font-size: 1.3em;}
a { color: #000000; }
a {
    text-decoration: none;
}
a:link {
	color: #b92400;
}
a:visited {
	color: #813116;
	text-decoration: line-through;
}
a:active {
	color: #cb9100;
}
a:hover {
	color: #000000;
}


#extra{

  color: #ff3500;
}
.foot{
	font-size: 0.8em;
	margin-bottom: 3em;
	padding-bottom: 1em;
	padding-right: 2em;
	text-align: right;
}

#idl{
 text-align:center;
  padding-top: 3em;

}

#footlinks{
  text-align: center;


    font-size: 0.8em;
  margin-bottom: 2em;
  border-top: 1px solid #ffffff;
}

/*pre{
overflow-x: auto;                 
width: 99%;
  background-color: white;
  border-style: none;
    font-size: 1em;
    color: #000000;
  
}
code{
  background-color: white;
  border-style: none;
  font-size: 0.9em;
  
}
*/

.gist{
background-color: white !important;
font-size: 13px !important;
/*overflow-x: auto;                 
width: 99%;*/
line-height: 1.5em !important;
}
.gist-file{ border: none !important;}
.gist-meta{
  background-color: white !important;
  border: 1px solid #D2d2d2 !important;
  padding: 12px !important;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
.gist-data{
  background-color: white !important;

  padding: 15px !important;
  border: 1px solid #D2d2d2 !important;
  border-bottom: none !important;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}


/**********************
Overwrite some bootstrap stuff
**********************/

.hero-unit{
/*	-moz-box-shadow: inset 0 1px 2px black;
	-webkit-box-shadow: inset 0 1px 2px black;
	box-shadow: inset 0 1px 2px black;*/
}


